*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}
.mdiv{
    background-image: url("https://cdn.videoplasty.com/animation/fly-through-math-and-equation-stock-animation-39677-1280x720.jpg");
    height: 100vh;
    width: 100%;
    background-color: white;
    position: fixed;

    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calc{
    width: 300px;
    height: 500px;
    background-color:black;
    border-radius: 20px;
    position: absolute;
}
.op{
text-align:right;
} 
.sev{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    border:none;
}
.eight{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    border:none;
}
.nine{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    border: none;
}
.opr1{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    background-color: orangered;
    border: none;
}
.four{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    border: none;
}
.five{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    border: none;
}
.six{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    border: none;
}
.opr2{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    background-color: orangered;
    border: none;
}
.one{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    border: none;

}
.two{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    border: none;
}
.three{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    border: none;
}
.opr3{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    background-color: orangered;
    border: none;
}
.ac{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    border: none;
}
.c{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    border: none;
}
.mod{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    border: none;
}
.opr4{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    background-color: orangered;
    border: none;
}
.zero{
    height: 50px;
    width: 100px;
    border-radius:20px ;
    border: none;

}
.dot{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    border: none;
}
.opr5{
    height: 50px;
    width: 50px;
    border-radius:20px ;
    border: none;
}
    input[type="button"]{
        margin-top: 5px;
        margin-left: 18px;
        border: none;

}
  input[type="text"]{

    height: 20px;
    font-weight: bolder;
    /*background-color: black;
    outline: none;
    border: none;*/
    color: white;
    background-color: black;
    outline: none;
    border:none ;
    font-size: large;

  }
.title{
    align-items: center;
    margin-top: -600px;
    margin-left: 10px;
}


input[type="text"]{
  height: 50px;
  width: 300px;
  margin-top: 40px;
  color: white;
/*background-color: black;
outline: none;
border: none;*/


}